<%
  fields = [{ name: :color_name, title: 'Heading Color', color: 'rgba(255,255,255,1)' },
            { name: :color_body, title: 'Sub Heading Color', color: 'rgba(255,255,255,1)' },
            { name: :color_bg, title: 'Headings BG', color: 'rgba(0,0,0,0.2)' },
            { name: :color_cta_1_text, title: 'CTA #1 Color', color: 'rgba(255,255,255,1)' },
            { name: :color_cta_1_bg, title: 'CTA #1 BG', color: 'rgba(238,123,52,1)' },
            { name: :color_cta_1_hover, title: 'CTA #1 Hover BG', color: 'rgba(107,197,170,1)' },
            { name: :color_cta_2_text, title: 'CTA #2 Color', color: 'rgba(255,255,255,1)' },
            { name: :color_cta_2_bg, title: 'CTA #2 BG', color: 'rgba(238,123,52,1)' },
            { name: :color_cta_2_hover, title: 'CTA #2 Hover BG', color: 'rgba(107,197,170,1)' }
           ] 
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section>
  <div class='col-md-6'>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field cstm-field">
        <%= f.label :name, 'Heading' %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field cstm-field">
        <%= f.label :link_url %>
        <%= f.text_field :link_url %>
      </div>
    </div>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field cstm-field">
        <%= f.label :alt_text %>
        <%= f.text_field :alt_text %>
      </div>
    </div>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field gpd_field">
        <%= f.label :cta_1_link, 'Link 1 Url' %>
        <%= f.text_field :cta_1_link %>
      </div>
      <div class="field-unit__field gpd_field">
        <%= f.label :cta_1_link, 'Link 1 Text'%>
        <%= f.text_field :cta_1_text %>
      </div>
    </div>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field gpd_field">
        <%= f.label :cta_2_link, 'Link 2 Url' %>
        <%= f.text_field :cta_2_link %>
      </div>
      <div class="field-unit__field gpd_field">
        <%= f.label :cta_2_link, 'Link 2 Text'%>
        <%= f.text_field :cta_2_text %>
      </div>
    </div>
    <div class="field-unit fld_custom field-unit--boolean">
      <%= f.label :published do %>
        <%= f.check_box :published %> <%= t(:published) %>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='field-unit fld_custom'>
      <div class="field-unit__field cstm-field">
        <%= f.label :name, 'Body' %>
        <%= f.cktext_area :body %>
      </div>
    </div>
  </div>
  </section>

  <div class="field-unit fld_custom">
    <%= f.label :image, t(:image) %>
    <%= f.file_field :image %>
  </div>

    <% if f.object.image? && (params[:action] == 'edit' || params[:action] == 'update') %>
      <div class="slide-img-wr desktop-mode">
        <%= image_tag(f.object.image, class: "slide_img_pos #{f.object.img_pos}-s") %>

        <% if !page.resource.name.blank? || !page.resource.body.blank? %>
          <div class="slide-head change_slide_color_bg slide_head_pos <%= f.object.head_pos %>-pos">
            <h2 class='change_slide_color_name'><%= page.resource.name %></h2>
            <span class='change_slide_color_body'><%= page.resource.body.html_safe %></span>
          </div>
        <% end %>

        <% if !page.resource.cta_1_text.blank? || !page.resource.cta_2_text.blank? %>
          <div class="slide-calls slide_cta_pos <%= f.object.cta_pos %>-pos">
            <% unless page.resource.cta_1_text.blank? %>
              <% if !page.resource.cta_1_link.blank? %>
                <%= link_to "##{page.resource.cta_1_link}", class: 'call-to-ac change_slide_color_cta_1_bg change_slide_color_cta_1_text change_slide_color_cta_1_hover' do %>
                  <span><%= page.resource.cta_1_text %></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <% end %>
              <% else %>
                <div class='call-to-ac change_slide_color_cta_1_bg change_slide_color_cta_1_text'><%= page.resource.cta_1_text %></div>
              <% end %>
            <% end %><br />

            <% unless page.resource.cta_2_text.blank? %>
              <% if !page.resource.cta_2_link.blank? %>
                <%= link_to "##{page.resource.cta_2_link}", class: 'call-to-ac change_slide_color_cta_2_bg change_slide_color_cta_2_text change_slide_color_cta_2_hover' do %>
                  <%= page.resource.cta_2_text %><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <% end %>
              <% else %>
                <div class='call-to-ac change_slide_color_cta_2_bg change_slide_color_cta_2_text'><%= page.resource.cta_2_text %></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if (params[:action] == 'edit' || params[:action] == 'update') && page.resource.image.present? %>
    <section>
        <div class='col-md-3'>
          <div class='field-unit fld_custom'>
            <div class="field-unit__field cstm-field">
              <%= f.label :head_pos, 'Headings Position' %>
              <%= f.select :head_pos, options_for_select(%w(left center right).map{|c| [c.capitalize, c]}, selected: f.object.head_pos), {class: 'position-select'}%>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='field-unit fld_custom'>
            <div class="field-unit__field cstm-field form-group">
              <%= f.label :cta_pos, "CTA's Position" %>
              <%= f.select :cta_pos, options_for_select(%w(left center right).map{|c| [c.capitalize, c]}, selected: f.object.cta_pos), {}, { class: 'form-control position-select' } %>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='field-unit fld_custom'>
            <div class="field-unit__field cstm-field form-group">
            <%= f.label :img_pos, 'Image Position <small>(check mobile)</small>'.html_safe %>
            <%= f.select :img_pos, options_for_select(%w(left center right).map{|c| [c.capitalize, c]}, selected: f.object.img_pos), {class: 'position-select'}%>
           </div>
          </div>
        </div>
      <% fields.each do |field| %>
        <div class='col-md-3'>
         <div class='field-unit fld_custom'>
            <div class="field-unit__field cstm-field form-group">
                  <%= f.label field[:name], field[:title] %>
                  <%= f.text_field field[:name], class: 'form-control color-picker', 'data-color' => field[:color] %>
                  <span class='input-group-addon' style="background-color:<%= field[:color] %>"></span>
            </div>
          </div>
        </div>
      <% end %>
    </section>
    <% else %>
      <%= f.hidden_field :color_name, value: 'rgba(255,255,255,1)' %>
      <%= f.hidden_field :color_body, value: 'rgba(255,255,255,1)' %>
      <%= f.hidden_field :color_bg, value: 'rgba(0,0,0,0.2)' %>
      <%= f.hidden_field :color_cta_1_text, value: 'rgba(255,255,255,1)' %>
      <%= f.hidden_field :color_cta_1_bg, value: 'rgba(238,123,52,1)' %>
      <%= f.hidden_field :color_cta_1_hover, value: 'rgba(107,197,170,1)' %>
      <%= f.hidden_field :color_cta_2_text, value: 'rgba(255,255,255,1)' %>
      <%= f.hidden_field :color_cta_2_bg, value: 'rgba(238,123,52,1)' %>
      <%= f.hidden_field :color_cta_2_hover, value: 'rgba(107,197,170,1)' %>
      <%= f.hidden_field :head_pos, value: 'left' %>
      <%= f.hidden_field :cta_pos, value: 'right' %>
    <% end %>
  
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
<script>document.addEventListener("DOMContentLoaded", function(event) { $(window).load(function(){function o(o,s,r,t,a){"hover"==o?s.mouseenter(function(){s.css("background",t)}).mouseleave(function(){s.css("background",a.val())}):s.css(o,t),r.css("background",t)}function r(r,t,a){var c=r.attr("id").split("_").pop();switch(s=$(".change_"+r.attr("id")),n=$(".pr_"+r.attr("id")),c){case"bg":c="background";break;case"hover":c="hover";break;default:c="color"}if("hover"==c){var e=r.attr("id").split("_").slice(0,-1);e.push("bg");var i=$("#"+e.join("_"))}t?o(c,s,n,a,i):a.length?o(c,s,n,a,i):(s.css(c,r.data("color")),n.css("background",r.data("color")),r.colorpicker("setValue",r.data("color")))}$(".color-picker").each(function(){var o=$(this);o.val().length||o.val(o.data("color")),o.parent(".form-group").css("position","relative").prepend("<span class='pr_"+o.attr("id")+"'></span>"),o.css("padding-left",35).siblings("span").css({position:"absolute",left:4,height:26,width:26,bottom:4,"border-radius":4,border:"1px solid rgba(0,0,0,0.15)",cursor:"pointer"}),o.colorpicker({format:"rgba"}).on("changeColor",function(s){var t="rgba("+s.color.toRGB().r+","+s.color.toRGB().g+","+s.color.toRGB().b+","+s.color.toRGB().a+")";r(o,!0,t)}).keyup(function(){r(o,!1,o.val())}).focusin(function(){o.colorpicker("show")}).siblings("span").click(function(){o.colorpicker("show")}),r(o,!1,o.val())}),$(".switch-responsive a").click(function(){$(".slide-img-wr").removeClass("mobile1-mode mobile2-mode tablet1-mode tablet2-mode desktop-mode").addClass($(this).attr("class"))}),$(".position-select").change(function(){$("."+$(this).attr("id")).removeClass($(this).attr("id").indexOf('img')>=0?"left-s center-s right-s":"left-pos center-pos right-pos").addClass($(this).attr("id").indexOf('img')>=0?$(this).val()+"-s":$(this).val()+"-pos")})})});</script>
