%header
	.header_width_adjust
		= link_to image_tag('QPC-logo.png'), '/cn', :id => 'logobox'
		#top_bar	
			.language
				= link_to "", '/', :style => "background: url('#{root_path}assets/usa_flag.png') no-repeat"
			.locations
				%ul
					- cn_cities.each do |city|
						%li
							= "#{city}"
		#header_space
			- if flash[:notice]
				.message= flash[:notice]

		= render 'cn/nav'
