= form_tag({:controller => "contacts", :action => "new"}, :class => "form-group", :method => "post") do
	.row
		.col-lg-9.col-sm-9.col-12
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 全称
					%h4.text-left.visible-sm 全称
				.col-lg-8.col-sm-8.col-12
					= text_field_tag "contact[name]", value_for(:contact, :name), :class => "form-control", :required => "true"
			%br.hidden-sm
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 电子邮件
					%h4.text-left.visible-sm 电子邮件
				.col-lg-8.col-sm-8.col-12
					= text_field_tag "contact[email]", value_for(:contact, :email), :class => "form-control", :required => "true"
			%br.hidden-sm
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 手机
					%h4.text-left.visible-sm 手机
				.col-lg-8.col-sm-8.col-12
					= text_field_tag "contact[phone]", value_for(:contact, :phone), :class => "form-control"
			%br.hidden-sm
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 公司名称
					%h4.text-left.visible-sm 公司名称
				.col-lg-8.col-sm-8.col-12
					= text_field_tag "contact[company]", value_for(:contact, :company), :class => "form-control"
			%br.hidden-sm
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 公司网站
					%h4.text-left.visible-sm 公司网站
				.col-lg-8.col-sm-8.col-12
					= text_field_tag "contact[website]", value_for(:contact, :website), :class => "form-control"
			%br.hidden-sm
			.row
				.col-lg-4.col-sm-4.col-12
					%h4.text-right.hidden-sm 消息体
					%h4.text-left.visible-sm 消息体
				.col-lg-8.col-sm-8.col-12
					= text_area_tag "contact[message]", value_for(:contact, :message), :class => "form-control", :rows => "5", :required => "true"
			%br
			.row
				.col-lg-4.col-sm-4.col-12
				.col-lg-8.col-sm-8.col-12
					= submit_tag "Send", :class => "btn btn-block"
		.col-lg-3.col-sm-3.col-12
			%br.visible-sm
			%br.visible-sm
			%br.visible-sm
			%address.hidden-sm
				%strong Gregory Wilson
				%br
				美国纽约
				%br
				+1 240 291 0120
				%br
				= link_to 'gwilson@qpcpartners.com', 'mailto: gwilson@qpcpartners.com'
				%br
				%strong Skype 
				gregory.andrew.wilson
			%address.lead.visible-sm
				%strong Gregory Wilson
				%br
				美国纽约
				%br
				+1 240 291 0120
				%br
				= link_to 'gwilson@qpcpartners.com', 'mailto: gwilson@qpcpartners.com'
				%br
				%strong Skype 
				gregory.andrew.wilson
			%br
			%address.hidden-sm
				%strong Jimmy Song
				%br
				中国杭州
				%br
				+86 1336 225 4070
				%br
				= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com'
			%address.lead.visible-sm
				%strong Jimmy Song
				%br
				中国杭州
				%br
				+86 1336 225 4070
				%br
				= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com'
	%br.visible-lg
	%br.visible-lg
	%br.visible-lg