<%= form_tag({controller: 'contacts', action: 'new'},  method: 'post') do %>
  <div class='row'>
    <div class= 'col-md-9'>
      <div class='form-group row'>
        <label class='col-md-3 col-sm-4'>
          <h4 class='text-right'><%= phrase('contact.full_name') %></h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_field_tag "contact[name]", value_for(:contact, :name), class: 'form-control', required: "true" %>
        </div>
      </div>
      <div class='form-group row'>
        <label class='col-sm-4 col-md-3'>
          <h4 class='text-right'><%= phrase('contacts.email_address') %></h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_field_tag "contact[email_address]", value_for(:contact, :name), class: 'form-control', required: "true" %>
        </div>
      </div>
      <div class='form-group row'>
        <label class='col-sm-4 col-md-3'>
          <h4 class='text-right'> <%= phrase('contacts.phone_number') %></h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_field_tag "contact[phone_number]", value_for(:contact, :name), class: 'form-control' %>
        </div>
      </div>
      <div class='form-group row'>
        <label class='col-sm-4 col-md-3'>
          <h4 class='text-right'> <%= phrase('contacts.company_name') %> </h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_field_tag "contact[company_name]", value_for(:contact, :name), class: 'form-control' %>
        </div>
      </div>
      <div class='form-group row'>
        <label class='col-sm-4 col-md-3'>
          <h4 class='text-right'> <%= phrase('contacts.company_website') %></h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_field_tag "contact[name]", value_for(:contact, :name), class: 'form-control' %>
        </div>
      </div>
      <div class='form-group row'>
        <label class='col-sm-4 col-md-3'>
          <h4 class='text-right'> <%= phrase('contacts.message_body') %></h4>
        </label>
        <div class='col-sm-8 col-md-9'>
          <%= text_area_tag "contact[message_body]", value_for(:contact, :name), class: 'form-control', :required => "true", rows: '5' %>
        </div>
      </div>
      <div class='form-group row'>
        <div class='col-sm-8 col-md-9 col-md-offset-3 col-sm-offset-4'>
          <%= submit_tag 'Send', class: 'btn btn-block' %>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='address hidden-sm'>
        <strong>Gregory Wilson</strong>
        <p>New York, NY, USA</p>
        <p>+1 240 291 0120</p>
        <%= link_to 'gwilson@qpcpartners.com', 'mailto: qwilson@qpcpartners.com' %>
      </div>
      <div class='address hidden-sm'>
        <strong>Jimmy Song</strong>
        <p>Hangzhou, CN</p>
        <p>+86 1336 225 4070</p>
        <%= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com' %>
      </div>
    </div>
  </div>
<% end %>

