<div class='carousel slide' id='mainSlider'>
  <ol class='carousel-indicators'>
   <% (0..@sliders.length).each do |index| %>
     <li data-target='#mainSlider' data-slide-to="<%= index %>" class='<%= 'active' if index == 0 %>'></li>
   <% end %>
  </ol>

  <div class='carousel-inner'>
   <% @sliders.each_with_index do |slide, index| %>
     <div class='item <%= 'active' if index == 0 %>' style="background-image: url(<%= asset_path(slide.attachment_background.url(:original)) %>) ">
      <div class='row'>
        <div class='col-md-5 col-md-offset-1 image-carousel'>
          <%= image_tag slide.attachment.url(:original), class: "image-fluid image-carousel circlized-carousel-image" %>
        </div>
        <div class='col-md-4'>
          <div class='carousel-text-block'>
           <a href="/investment">
             <h3><%= slide.title(lang) %></h3>
             <p><%= slide.description(lang) %></p>
           </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <a href="#mainSlider" data-slide='prev' class='left carousel-control'><span class='glyphicon glyphicon-chevron-left'></span></a>
    <a href="#mainSlider" data-slide='next' class='right carousel-control'><span class='glyphicon glyphicon-chevron-right'></span></a>
  </div>
</div>
