<hr class='featureette-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'bridge.jpg', class: 'featurette-image img-circle pull-right' %>
  <h2 class=featureette-heading><%= t('home.featurette.bridge_hd') %></h2>
  <p class='lead'><%= t('home.featurette.bridge_pg') %></p>
</div>
<hr class='featureette-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'dragon-papercut.jpg', class: 'featurette-image img-circle pull-left' %>
  <h2 class=featureette-heading><%= t('home.featurette.dragon_hd') %></h2>
  <p class='lead'><%= t('home.featurette.dragon_pg') %></p>
</div>
<hr class='featureette-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'deal-execution.jpg', class: 'featurette-image img-circle pull-right' %>
  <h2 class=featureette-heading><%= t('home.featurette.deal_hd') %></h2>
  <p class='lead'><%= t('home.featurette.deal_pg') %></p>
</div>

