<hr class='feat-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'bridge.jpg', class: 'featurette-image pull-right' %>
  <h2 class=feat-hd><%= phrase('home.featurette.bridge_hd') %></h2>
  <p class='lead'><%= phrase('home.featurette.bridge_pg') %></p>
</div>
<hr class='feat-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'dragon-papercut.jpg', class: 'featurette-image pull-left' %>
  <h2 class=feat-hd><%= phrase('home.featurette.dragon_hd') %></h2>
  <p class='lead'><%= phrase('home.featurette.dragon_pg') %></p>
</div>
<hr class='feat-divider'/>
<div class='featurette feat-l clearfix'>
  <%= image_tag 'deal-execution.jpg', class: 'featurette-image pull-right' %>
  <h2 class=feat-hd><%= phrase('home.featurette.deal_hd') %></h2>
  <p class='lead'><%= phrase('home.featurette.deal_pg') %></p>
</div>

