  <div class="container marketing">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag 'experts.jpg', :class => 'img-circle' %>
        <h2><%= phrase('marketing.networks') %></h2>
        <p><%= phrase('marketing.networks_info') %></p>
        <%= link_to 'Learn More',  services_path, class: 'btn btn-default' %>
      </div>
      <div class="col-sm-4">
        <%= image_tag 'portfolio.jpg', :class => 'img-circle' %>
        <h2><%= phrase('marketing.portfolio') %></h2>
        <p><%= phrase('marketing.portfolio_info') %></p>
        <%= link_to 'View Details',  current_trade_path, class: 'btn btn-default' %>
      </div>
      <div class="col-sm-4">
        <%= image_tag 'luxury_homes_sm.jpg', :class => 'img-circle' %>
        <h2><%= phrase('marketing.luxury') %></h2>
        <p><%= phrase('marketing.luxury_info') %></p>
        <%= link_to 'Learn More', real_estate_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
