<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
     <% if I18n.locale == :en %>
       <%= link_to phrase('nav.chinese'), request.parameters.merge({locale: 'zh-CN'}), class: 'btn btn-danger nav-lang-btn', id: 'cn' %>
     <% else  %>
       <%= link_to phrase('nav.english'), request.parameters.merge({locale: 'en'}), class: 'btn btn-danger nav-lang-btn', id: 'en' %>
     <% end %>
     <% if current_user %>
        <%= link_to 'Log Out', destroy_user_session_path, class: 'btn btn-primary log-out-btn' %>
     <% end %>
      <div class="navbar-header">
       <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <%= link_to 'QPC Partners', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to( phrase('nav.summary'), summary_path, class: 'active') %></li>
        <li><%= link_to phrase('nav.services'),  services_path, class: 'active'%></li>
        <li><%= link_to phrase('nav.consulting'), consulting_path, class: 'active' %></li>
        <li><%= link_to phrase('nav.real_estate'), real_estate_path, class: 'active' %></li>
        <li><%= link_to phrase('nav.investment'), investment_path, class: 'active' %></li>
        <li><%= link_to phrase('nav.contact'), contact_path, class: 'active' %></li>
      </ul>
    </div>
  </div>
</div>
