<div class='container'>
  <h1 class='hidden-sm'><%= t('consulting.title') %></h1>
  <h2 class='visible-sm'><%= t('consulting.title') %></h2>
  <br />
  <div class='row'>
    <div class='col-md-4 col-sm-6 '>
      <%= image_tag 'building_materials.jpg', alt: 'Building Materials', class: 'image-fluid consulting-image'  %>
    </div>
    <div class='col-md-7 col-md-offset-1 col-sm-6'>
      <h3><%= t('consulting.building_hd') %></h3>
      <p><%= t('consulting.building_pg') %></p>
      <br />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 col-sm-6'>
       <%= image_tag 'electronics.jpg', alt: 'Building Materials', class: 'image-fluid consulting-image'  %>
    </div>
    <div class='col-md-7 col-md-offset-1 col-sm-6'>
      <h3><%= t('consulting.electronics_hd') %></h3>
      <p><%= t('consulting.electronics_pg') %></p>
      <br />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 col-sm-6'>
      <%= image_tag 'medical.jpg', alt: 'Building Materials', class: 'image-fluid consulting-image'  %>
    </div>
    <div class='col-md-7 col-md-offset-1 col-sm-6'>
      <h3><%= t('consulting.medical_hd') %></h3>
      <p><%= t('consulting.medical_pg') %></p>
      <br />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 col-sm-6 '>
      <%= image_tag 'textiles.jpg', alt: 'Building Materials', class: 'image-fluid consulting-image'  %>
    </div>
    <div class='col-md-7 col-md-offset-1 col-sm-6'>
      <h3><%= t('consulting.textile_hd') %></h3>
      <p><%= t('consulting.textile_pg') %></p>
      <br />
    </div>
  </div>
</div>
