- @title = chinese? ? '联系我们' : 'Contact Us'

.container
	%h1= @title
	- if chinese?
		%p.lead 欢迎您使用以下方式联系我们， 谢谢！
	- else
		%p.lead Please contact us via form or contact information below.
	%br.hidden-sm
	.container
		- if flash[:success] 
			.col-12.flash.flash-contact.flash-success= flash[:success]
		- elsif flash[:notice] 
			.col-12.flash.flash-contact.flash-notice= flash[:notice]
		- elsif flash[:warning]
			.col-12.flash.flash-contact.flash-warning= flash[:warning]

		- if chinese?
			= render 'pages/contact/cn_contact_form'
		- else
			= render 'pages/contact/en_contact_form'