- @title = 'Real Estate'

.container
	%h1 Real Estate
	%p.padding-sm
		= link_to("Investment Properties", '#investment-properties') 
		| 
		=link_to("Investment Projects", '#investment-projects')	
	%h3#investment-properties.padding-sm Investment Properties	
	%h4.padding-sm Commercial and Residential
	%br
	.row
		.col-lg-8.col-sm-8.col-12
			= image_tag "corcoran_home.jpg", :alt => "Corcoran Homes", :class => "fluid-image"
		.col-lg-4.col-sm-4.col-12
			%p.text-large
				As the representative of 
				= link_to "Corcoran Group", "http://www.corcoran.com"
				in China, QPC is uniquely positioned to offer its clients the finest property options across New York.
			= link_to image_tag('corcoran.png'), "http://www.corcoran.com", :class => "hidden-sm"	
	%br.visible-lg
	%hr
	%br
	%h3#investment-projects.padding-sm Investment Projects	
	%h4.padding-sm Current Real Estate Projects	
	%br
	%h5.padding-sm Washington DC Metro Area
	%br
	.row
		.col-lg-4.col-sm-6.col-12
			= image_tag "forestglen.jpg", :class => "fluid-image"
		.col-lg-5.col-sm-3.col-12
			%p.text-large.text-left
				This property is located in the National Park Seminary historic neighborhood of greater Washington DC and is surrounded by parks and wooded lots, located approximately 1.5 miles from the Washington DC city limits and 1 mile from the metro station. This exclusive location is situated in a national park and adjacent to recently renovated high-end housing complexes.
		.col-lg-3.col-sm-3.col-12
			%ul.list-group
				%li.list-group-item
					%strong Subdivision: 
					Forest Glen Park
				%li.list-group-item
					%strong House Type: 
					Single Family
				%li.list-group-item
					%strong House Size: 
					2506 Sq. Ft.
				%li.list-group-item
					%strong Bedrooms: 
					3
				%li.list-group-item	
					%strong Baths: 
					2.5