<div class='container'>
  <h1><%= t('realestate.title') %></h1>  
  <small><%= t('realestate.comercial') %></small>
  <p class='padding-sm'>
    <%= link_to t('realestate.cur_projects'), '#current-projects' %> | 
    <%= link_to t('realestate.rec_projects'), '#recent-projects' %>
  </p>
  <h3 id='current-properties' class='padding-sm'><%= t('realestate.cur_projects') %></h3>
  <br />
  <% @real_estate_unrecent.each do |property| %>   
   <div class='row'>
     <div class='col-md-7'>
       <p class='text-large'><%= property.description_en %></p>
       <table class='table'>
         <tr class='active'>
          <th><%= t('realestate.area') %></th>
          <th><%= t('realestate.type') %></th>
          <th><%= t('realestate.size') %></th>
          <th><%= t('realestate.beds') %></th>
          <th><%= t('realestate.bath') %></th>
         </tr>
         <tr>
          <td><%= property.area_en %></td>
          <td><%= property.type_en %></td>
          <td><%= property.size_en %></td>
          <td><%= property.beds %></td>
          <td><%= property.baths %></td>
          <br />
         </tr>
       </table>
     </div>
     <div class='col-md-4 col-sm-6'>
       <%= image_tag property.attachment.url, class: 'image-fluid consulting-image'%>
     </div>
   </div>
  <% end %>
  <h3 id='recent-properties' class='padding-sm'><%= t('realestate.rec_projects') %></h3>
  <br />
  <% @real_estate_recent.each do |property| %>   
   <div class='row'>
     <div class='col-md-4 col-sm-6'>
       <%= image_tag property.attachment.url, class: 'image-fluid consulting-image'%>
     </div>
     <div class='col-md-7'>
       <p class='text-large'><%= property.description_en %></p>
       <table class='table'>
         <tr class='active'>
          <th><%= t('realestate.area') %></th>
          <th><%= t('realestate.type') %></th>
          <th><%= t('realestate.size') %></th>
          <th><%= t('realestate.beds') %></th>
          <th><%= t('realestate.bath') %></th>
         </tr>
         <tr>
          <td><%= property.area_en %></td>
          <td><%= property.type_en %></td>
          <td><%= property.size_en %></td>
          <td><%= property.beds %></td>
          <td><%= property.baths %></td>
          <br />
         </tr>
       </table>
     </div>
   </div>
  <% end %>
</div>

