- @title = !@cn ? 'Services' : "业务服务"

.container
	%h1= @title
	%br
	.row
		.col-lg-3.col-sm-4.col-12
			%small.text-right.visible-sm tap to expand
			#services-accordion.accordion
				- if !@cn
					- services.each_with_index do |(action,summary), i|
						- num = number_helper i
						- if i == 0
							.accordion-group
								.accordion-heading
									%a.accordion-toggle{"href"=>"#service-#{num}", "data-toggle"=>"collapse", "data-parent"=>"#services-accordion"}= action
								%div{"id"=>"service-#{num}", "class"=>"accordion-body collapse in"}
									.accordion-inner= summary
						- else
							.accordion-group
								.accordion-heading
									%a.accordion-toggle{"href"=>"#service-#{num}", "data-toggle"=>"collapse", "data-parent"=>"#services-accordion"}= action
								%div{"id"=>"service-#{num}", "class"=>"accordion-body collapse"}
									.accordion-inner= summary
				- else
					- cn_services.each_with_index do |(action,summary), i|
						- num = number_helper i
						- if i == 0
							.accordion-group
								.accordion-heading
									%a.accordion-toggle{"href"=>"#service-#{num}", "data-toggle"=>"collapse", "data-parent"=>"#services-accordion"}= action
								%div{"id"=>"service-#{num}", "class"=>"accordion-body collapse in"}
									.accordion-inner= summary
						- else
							.accordion-group
								.accordion-heading
									%a.accordion-toggle{"href"=>"#service-#{num}", "data-toggle"=>"collapse", "data-parent"=>"#services-accordion"}= action
								%div{"id"=>"service-#{num}", "class"=>"accordion-body collapse"}
									.accordion-inner= summary
			%small.hidden-sm click to expand
		.col-lg-9.col-sm-8.col-12
			- if !@cn
				%h3 Niche Markets
				%br.visible-lg
				%p QPC offers services to Chinese and American clients whose requirements fall outside the scope of services provided by large institutions and investment banks. We focus on small-to-medium-sized deals involving Chinese entities establishing or acquiring assets in the USA.
				%p Such transactions require specific skills which are rare in the small- to medium-size deal segment. We offer our clients the skills, experience and cross-cultural/cross-border understanding necessary to successfully expand overseas and attract a completely new demographic.
				%p QPC offers its US clients in-depth troubleshooting assistance, business development consulting, and marketing guidance in order to capture Chinese consumer demand and interest.
			- else
				%h3 QPC市场定位
				%br.visible-lg
				%p QPC将向中国和美国的客户提供大型投资机构和投资银行服务范围内容以外的服务。专注于涉及中小型交易的中国在美国设立或收购资产的实体。这些交易需要在中小型投资交易里所需的特殊的技能。 

			%br

			.panel
				.panel-heading
					%h3.panel-title Primary Service Sector 
				- if !@cn
					.container
						.row
							.col-lg-5.text-right
								%strong Business Development Consulting
							.col-lg-7
								%p Chinese and United States companies entering international markets.
						.row
							.col-lg-5.text-right
								%strong Corporate Expansion & Investment
							.col-lg-7
								%p Business development and cross-border expansion.
						.row
							.col-lg-5.text-right
								%strong Private Company Expansion
							.col-lg-7
								%p Small-to-mid-cap clients with assets ranging from $0.5-10 mill USD in the short-term to $10-20 mill USD for the mid-term.
				- else
					.container
						.row
							.col-lg-5.text-right
								%strong 咨询服务 
							.col-lg-7 
								%p 个人，公司或需要跨境专业业务咨询服务的企业。 QPC的合作伙伴将在30多个国家建立自己的业务网络，在咨询上协助客户。
						.row
							.col-lg-5.text-right
								%strong Corporate Expansion & Investment
							.col-lg-7
								%p Business development and cross-border expansion.
						.row
							.col-lg-5.text-right
								%strong Private Company Expansion
							.col-lg-7
								%p Small-to-mid-cap clients with assets ranging from $0.5-10 mill USD in the short-term to $10-20 mill USD for the mid-term.
			