<div class='container'>
 <h1><%= t('services.title') %></h1>
 <br />
 <div class='row'>
   <div class='col-lg-7 col-sm-6 col-12'>
      <h3><%= t('services.niche_markets') %></h3>
      <br class='visible-lg'/>
      <p><%= t('services.niche_markets_pg_first') %></p>
     <% if english? %>
       <p><%= t('services.niche_markets_pg_second') %></p>
       <p><%= t('services.niche_markets_pg_third') %></p>
     <% end %>
     <br />
     <div class='panel'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t('services.primary_sector') %></h3>
      </div>
       <div class='container'>
         <div class='row'>
           <div class='col-lg-5 text-right'>
             <strong><%= t('services.business_development') %></strong>
           </div>
           <div class='col-lg-7'>
             <p><%= t('services.business_development_pg') %></p>
           </div>
         </div>
         <div class='row'>
           <div class='col-lg-5 text-right'>
             <strong><%= t('services.expansion') %></strong>
           </div>
           <div class='col-lg-7'>
             <p><%= t('services.business_expanision_pg') %></p>
           </div>
         </div>
         <div class='row'>
           <div class='col-lg-5 text-right'>
             <strong><%= t('services.private_company') %></strong>
           </div>
           <div class='col-lg-7'>
             <p><%= t('services.private_company_pg') %></p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class='col-lg-4 col-offset-1 col-sm-5 col-12'>
      <small class="text-right visible-sm">tap to expand</small>
      <small class='hidden-sm'>click to expand </small>
      <div class='accordion' id='service-accordion'>
        <% @services.each.with_index(1) do |service, index|  %> 
         <div class='accordion-group'>
           <div class='accordion-heading'>
             <a class="accordion-toggle collapsed" data-parent="#services-accordion" data-toggle="collapse" aria-expanded="true" href=<%= "#service-#{index}" %>><%= service.title(lang) %></a>
           </div>
           <div class='accordion-body collapse <%= 'in' if index == 1 %>' id=<%= "service-#{index}" %>>
             <div class='accordion-inner'>
               <%= service.description(lang) %>
             </div>
           </div>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
