<!DOCTYPE html>
<html>
  <head>
		<meta{content="text/html; charset=UTF-8" http-equiv="Content-Type"} />
	</head>
	<body>
		<h1>New Message from, <%= @contact.name %></h1>

		<p>Name: <%= @contact.name %></p>
		<p>Email: <%= @contact.email %></p>
		<p>Telephone: <%= @contact.phone %></p>
		<p>Company Name: <%= @contact.company %></p>
		<p>Company Website: <%= link_to @contact.website, @contact.website %>

		<p>Message: <%= @contact.message %></p>
	</body>
</html>