<!DOCTYPE html>
<html>
  <head>
		<meta{content="text/html; charset=UTF-8" http-equiv="Content-Type"} />
	</head>
	<body>
		<h1><%= @contact.name %>发给QPCPartners.com的信息</h1>

		<p><strong>名称</strong> <%= @contact.name %></p>
		<p><strong>邮箱</strong> <%= @contact.email %></p>
		<p><strong>电话</strong> <%= @contact.phone %></p>
		<p><strong>公司</strong> <%= @contact.company %></p>
		<p><strong>网站</strong> <%= link_to @contact.website, @contact.website %></p>

		<p><strong>消息体</strong></p>
		<p><%= @contact.message %></p>
	</body>
</html>