New message from, <%= @contact.name %>.

Email: <%= @contact.email %>
Telephone: <%= @contact.phone %>
Company Name: <%= @contact.company %>
Company Website: <%= link_to "#{@contact.website}", @contact.website %>

Message: <%= @contact.message %></p>