!!! 5
%html
	%head
		%title= "QPC | Quantum Perspective Consultancy | #{@title}"
		= stylesheet_link_tag    "application", :media => "all"
		= csrf_meta_tags

	%body
		#wrapper
			/ nav partial called by header partial
			= render 'pages/header'
			#container_header
			#container
				= yield
			%footer.left
				= render 'pages/footer'
				:javascript
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-41958210-1']);
					_gaq.push(['_trackPageview']);

					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
				= javascript_include_tag "application"
