<!DOCTYPE html>
<html>
  <head>
    <title>QPC | Quantum Perspective Consultancy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% unless Rails.env.include?('production') %>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% end %>
    <!--
       -<#%= render 'layouts/ga' if RAils.env.include?('production') %>
       -->
    <%= csrf_meta_tags %>
  </head>

  <body ontouchstar>
    <%= render 'shared/nav' %>
    <div class="<%= 'container' unless @index %>" style='margin-top:70px'>
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
