!!! 5
%html
	%head
		%title= "QPC | Quantum Perspective Consultancy | #{@title}"
		= stylesheet_link_tag    "application", :media => "all"
		= render 'layouts/ga' if Rails.env == "production"
		= csrf_meta_tags

	%body
		#wrapper
			/ nav partial called by header partial
			= render 'pages/header'
			#container_header
			#container
				= yield
			%footer.left
				= render 'pages/footer'
				= javascript_include_tag "application"
