!!! 5
%html
	%head
		%title= "QPC | Quantum Perspective Consultancy | #{@title}"
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		#wrapper
			/ nav partial called by header partial
			= render 'pages/header'
			#container_header
			#container
				= yield
				%footer= render 'pages/footer'